body{
    display: block;
    text-align: -webkit-center;
    padding-top: 50px;
}

/*checkbox 1*/
.toggle1 {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 70px;
}
.toggle1 input[type="checkbox"]{
    display: none;
}
.toggle1 .slider {
    background-color: #ccc;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: .4s;
    position: relative;
    border-radius: 50px;
}
.toggle1 .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    border-radius: 50px;
}
.toggle1 input[type="checkbox"]:checked + .slider  {
    background-color: #07a787;
}
.toggle1 input[type="checkbox"]:checked + .slider:before {
    transform: translateX(36px);
}

/*checkbox 2*/
.toggle2 {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 70px;
}
.toggle2 input[type="checkbox"]{
    display: none;
}
.toggle2 .slider {
    background-color: #ccc;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: .4s;
    position: relative;
    border-radius: 50px;
}
.toggle2 .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    border-radius: 50px;
}
.toggle2 input[type="checkbox"]:checked + .slider  {
    background-color: #5c7afe;
}
.toggle2 input[type="checkbox"]:checked + .slider:before {
    transform: translateX(36px);
}

/*checkbox 3*/
.toggle3 {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 70px;
}
.toggle3 input[type="checkbox"]{
    display: none;
}
.toggle3 .slider {
    background-color: #ccc;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: .4s;
    position: relative;
    border-radius: 50px;
}
.toggle3 .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    border-radius: 50px;
}
.toggle3 input[type="checkbox"]:checked + .slider  {
    background-color: rgba(214,81,64,0.6);
}
.toggle3 input[type="checkbox"]:checked + .slider:before {
    transform: translateX(36px);
}